@inherits LayoutComponentBase

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div data-nosnippet
     id="blazor-error-ui">
    An unhandled error has occurred.
    <a class="reload"
       href=".">
        Reload
    </a>
    <span class="dismiss">🗙</span>
</div>