<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0"
          name="viewport" />
    <base href="/" />
    <link href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]"
          rel="stylesheet" />
    <link href="@Assets["app.css"]"
          rel="stylesheet" />
    <link href="@Assets["StepWizard.styles.css"]"
          rel="stylesheet" />
    <ImportMap />
    <link href="favicon.png"
          rel="icon"
          type="image/png" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
<Routes @rendermode="InteractiveServer" />
<script src="_framework/blazor.web.js"></script>
</body>

</html>